<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx7JJg8nuIk3-gOZb7ti4cohBuIh394FA</string>
	<key>GCM_SENDER_ID</key>
	<string>219652020676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fusinvietnam.ezspa</string>
	<key>PROJECT_ID</key>
	<string>fusin-viet-nam-3fbce</string>
	<key>STORAGE_BUCKET</key>
	<string>fusin-viet-nam-3fbce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219652020676:ios:db72e210421e5e82b62c91</string>
	<key>DATABASE_URL</key>
	<string>https://fusin-viet-nam-3fbce-default-rtdb.firebaseio.com</string>
</dict>
</plist>